Pandas

1- Criando Séries

In [2]:
import numpy as np
import pandas as pd 
from pandas import Series

In [ ]:
# Criando uma série sem definir os indices
Ser1 = pd.Series([10, 20, 30, 40])
Ser1

In [ ]:
type(Ser1)

In [ ]:
Ser1.values

In [ ]:
Ser1.index

In [ ]:
# Criando uma série e definindo os indices
Ser2 = pd.Series([10,20,30,40], index = ['a', 'b', 'c', 'd'])
Ser2

In [ ]:
Ser2.index

In [ ]:
# filtrando valores com a notação de slice
Ser2[Ser2>20]

In [ ]:
# filtrando valores a partir do índice
Ser2['c']

2- Manipulando Séries

In [ ]:
# Criando um dicionário
turma = {'Luíz': 5, 'Clara': 10, 'Gabriel': 7, 'Pedro': 8}

In [ ]:
# Criando uma série e passando o dicionario como parâmetro
Ser3 = pd.Series(turma)
Ser3

In [ ]:
# criando uma lista
nomes = ['Luíz', 'Clara', 'Gabriel', 'Pedro','Maria']

In [ ]:
# criando uma série e passando a lista nomes como índice 
Ser4 = Series(turma, index=nomes)
Ser4

In [ ]:
# verificando se há valores nulos com o método .isnull() do objeto Ser4
Ser4.isnull()

In [ ]:
# concatenando series
Ser3 + Ser4

In [ ]:
# alterando o nome do índice
Ser4.index.name = 'Aluno'

In [ ]:
Ser4

3- Criando Dataframes

In [ ]:
# Criando um dicionário
dados = {'Aluno': ['Alice', 'Bruna', 'Carlos', 'Daiane', 'Emily'], 
         'Idade': [10, 12, 11, 14, 13], 
         'Nota': [8.5, 9.9, 9.8, 7.0, 5.0]}

In [ ]:
# passando o dicionário para a função Dataframe()
turma = pd.DataFrame(dados)

In [ ]:
turma

In [ ]:
type(turma)

In [ ]:
# criando um novo dataframe com os dados do df antigo e adicionando uma nova coluna, sem especificar seus valores
turma2 = pd.DataFrame (dados, columns=['Aluno', 'Idade', 'Nota','Faltas'], index = ['um', 'dois', 'três', 'quatro', 'cinco'])

In [ ]:
turma2

In [ ]:
# Algumas operações com dataframes
# imprimindo apenas uma coluna
turma2['Idade']

In [ ]:
# imprimindo índices
turma2.index

In [ ]:
# imprimindo colunas
turma2.columns

In [ ]:
# imprimindo os valores
turma2.values

In [ ]:
# imprimindo com notação de slice
turma2['Idade']

In [ ]:
# imprimindo chamando um atributo do dataframe
turma2.Idade

In [ ]:
# imprimindo com notação de slice
turma2[:2]

4- Numpy + Pandas

In [ ]:
# utilizando pandas e numpy pra alimentar a coluna "Faltas"
turma2['Faltas'] = np.arange(5)

In [ ]:
turma2

In [ ]:
# resumo estatístico dos dados do dataframe
turma2.describe()

In [ ]:
# notação de slice com os índices do dataframe
turma2['dois':'cinco']

In [ ]:
# localizando um registro pelo nome do índice
turma2.loc['dois']

In [ ]:
# localizando um registro pelo índice
turma2.iloc[0]

In [ ]:
# localizando um registro pelo seu índice e coluna
turma2.loc['dois', 'Idade']

In [ ]:
dic = {'Ano': [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007], 'Casos': [129, 160, 212, 204, 321, 354, 393, 401]}

In [ ]:
df = pd.DataFrame(dic)

In [ ]:
df

In [ ]:
# visualizando a coluna 'Ano' como índice (não modifica o df)
print(df.set_index('Ano'))

In [ ]:
# verificando os primeiros registros do dataframe
df.head()

5- Arquivos CSV

In [ ]:
# importando um arquivo csv e gravando em um objeto df
df = pd.read_csv('repositorio_do_csv')
df

In [ ]:
# quando o arquivo não for separado por ',' utilize o sep e especifique o parâmetro para separar as colunas
df1 = pd.read_csv('repositorio_do_csv', sep = ';')
df1
# se o arquivo não for csv, utilize o sep da mesma maneira, porém nolugar de read_csv use o read_table

In [ ]:
# esse método retorna os primeiros 5 registros do meu dataset
# utilize-o quando quiser ver como os seus dados estão organizados
df1.head()

In [ ]:
# criando um dicionário
dados3 = {'coluna1': [1, 2, 3], 
         'coluna2': [4, 5, 6]}

In [ ]:
# armazenando em um objeto do tipo dataframe
df3 = pd.DataFrame(dados3)

In [ ]:
df3

In [ ]:
# soma acumulada: soma total dos dados conforme eles crescem com o tempo
df3.apply(np.cumsum)

In [ ]:
# método para verificar a média dos valores por colunas 
df3.mean()

In [ ]:
# pivot (transforma linhas em colunas) e calculo da média
df3.mean(1)

SERIES TEMPORAIS E PLOTTING

In [3]:
# uma série temporal é um dataframe com apenas uma coluna de dados
# pd.date_range irá criar uma sequência de datas. Como parâmetro, você irá passar a data inicial,
# o período (tamanho da sequência) e a frequência (Pode ser segundo, minuto, dia, mês, etc)
rand = pd.date_range('01/01/2020', periods= 10, freq='D')

In [ ]:
# você pode imprimir e verificar como fica a sequência
rand

In [ ]:
# agora iremos criar uma série ts e chamar os seguintes parâmetros:
# np.random.randint irá distribuir valores aleatórios dentro de uma sequência
# nesse caso, definimos que os valores aleatórios estejam no intervalo de 0 a 500
# definimos que o len (comprimento dessa sequência) tenha o tamanho da primeira sequência que criamos, a rand
# a sequência de datas rand também será nosso índice para a série
ts = pd.Series(np.random.randint(0, 500, len(rand)), index=rand)

In [ ]:
# imprima e veja o resultado
ts

In [ ]:
# uma série temporal nos dá muitas possibilidades de análises, 
# incluindo previsões (Machine Learning). Exemplo: preço de produtos.

Plot com um dataframe

In [ ]:
df3 = df3.cumsum()

In [ ]:
df3

In [ ]:
df3.plot()
# como só tinhamos duas colunas de valores no dataframe df3, não foi preciso definir os valores x e y